<% var disabled = ! new app.models.Diver(diver).isValid() || ! new app.models.Environment(environment).isValid(); %>
<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left"></a>
    <h1 class="title">Absolute method</h1>
</header>
<div class="bar bar-standard bar-footer-secondary">
    <button <%= (disabled) ? 'disabled' : ''  %> class="btn btn-positive btn-block btn-compute">Compute</button>
</div>
<div class="bar bar-standard bar-footer">
    <a href="#help" class="pull-left"><span class="icon icon-info"></span></a>
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="main content">
    <div class="card">
        <ul class="table-view"></ul>
    </div>
</div>
<div id="help" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#help"></a>
        <h1 class="title">Details</h1>
    </header>
    <div class="help modal-content">
        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell-no-padding media">
                    <img class="media-object pull-left" src="img/diver.png"/>
                    <div class="media-body">
                        <h3>Diver</h3>
                        <p>Define the diver <span class="badge">age</span>, <span class="badge">gender</span>, <span class="badge">weight</span> and <span class="badge">height</span> (Required for the computation).</p>
                    </div>
                </li>
                <li class="table-view-cell-no-padding media">
                    <img class="media-object pull-left" src="img/gears.png"/>
                    <div class="media-body">
                        <h3>Gears</h3>
                        <p>Select all the <span class="badge">gears</span> that will be wore by the diver during the dive.</p>
                    </div>
                </li>
                <li class="table-view-cell-no-padding media">
                    <img class="media-object pull-left" src="img/environment.png"/>
                    <div class="media-body">
                        <h3>Environment</h3>
                        <p>Define the <span class="badge">temperature</span> and <span class="badge">salinity</span> characteristics of the water in which the dive will happen (Required for the computation).</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>