<header class="bar bar-nav">
    <a href="#plans/abs/environment" class="btn pull-left btn-positive">
        Back
    </a>
    <ul class="steps-menu">
        <li>Diver</li>
        <li>Gears</li>
        <li>Water</li>
        <li class="active">Results</li>
    </ul>
</header>
<div class="bar bar-standard bar-footer">
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="result content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-divider results">Result using Archimedes method</li>
            <li class="table-view-divider details">Computational details</li>
            <li class="table-view-divider environment">
                Water Density
            </li>
            <li class="table-view-divider diver">
                Diver Buoyancy
            </li>
            <% if (json.gears.length > 0) { %>
                <li class="table-view-divider gears-details gears">
                    Gears Buoyancy
                </li>
            <% } %>
        </ul>
    </div>
</div>
