<header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#config"></a>
    <h1 class="title">Configuration</h1>
</header>
<div class="config modal-content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-divider unit-system">Unit System</li>
            <li class="table-view-cell">&nbsp;
                <button class="btn btn-positive save-units">Save</button></li>
        </ul>

    </div>

    <div class="card">
        <ul class="table-view">
            <li class="table-view-divider">Reset</li>
            <li class="table-view-cell"><p>Reset application data</p>
                <button class="btn btn-positive reset-app">Reset</button>
            </li>
        </ul>
    </div>

    <div class="card">
        <ul class="table-view">
            <li class="table-view-divider">Copyright</li>
            <li class="table-view-cell">
                <p>&copy; 2014-2015 wildbits.github.io</p>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="table-view">
            <li class="table-view-divider">License</li>
            <li class="table-view-cell-no-padding">
            <div class="segmented-control">
                <a class="control-item active" href="#lead">Lead</a>
                <a class="control-item" href="#cordova">Cordova</a>
                <a class="control-item" href="#ratchet">Ratchet</a>
                <a class="control-item" href="#backbone">Backbone</a>
                <a class="control-item" href="#jquery">jQuery</a>
                <a class="control-item" href="#underscore">Underscore</a>
                <a class="control-item" href="#hydro">Hydro</a>
            </div>
            <div class="card">
                <span id="lead" class="control-content active">
<p>
Copyright 2014 wildbits.github.io
</p>
<p>
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
</p>
<p>
http://www.apache.org/licenses/LICENSE-2.0
</p>
<p>
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either expss or implied.
See the License for the specific language governing permissions and
limitations under the License.
</p>
                    <p><a href="https://github.com/wildbits/lead" target="_blank">Lead</a></p>
                </span>
                <span id="cordova" class="control-content">
<p>
Apache Cordova<br/>
Copyright 2012 The Apache Software Foundation
</p>
<p>
This product includes software developed at
The Apache Software Foundation (http://www.apache.org/).
</p>
<p><a href="https://cordova.apache.org" target="_blank">Apache Cordova</a></p>
                </span>
                <span id="ratchet" class="control-content">
<p>
The MIT License (MIT)
</p>
<p>
Copyright (c) 2014 connors and other contributors
</p>
<p>
Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:
</p>
<p>
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
</p>
<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>
<p><a href="http://goratchet.com" target="_blank">Ratchet</a></p>
                </span>
                <span id="backbone" class="control-content">
<p>
Copyright (c) 2010-2014 Jeremy Ashkenas, DocumentCloud
</p>
<p>
Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:
</p>
<p>
The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.
</p>
<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
</p>
<p><a href="http://backbonejs.org" target="_blank">Backbone.js</a></p>
                </span>
                <span id="jquery" class="control-content">
                    <p>
Copyright 2005, 2014 jQuery Foundation and other contributors,<br/>
https://jquery.org/
</p>
<p>
This software consists of voluntary contributions made by many
individuals. For exact contribution history, see the revision history
available at https://github.com/jquery/jquery
</p>
<p>
The following license applies to all parts of this software except as
documented below:
</p>
<p>
====
</p>
<p>
Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:
</p>
<p>
The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.
</p>
<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>
<p>
====
</p>
<p>
All files located in the node_modules and external directories are
externally maintained libraries used by this software which have their
own licenses; we recommend you read them, as their terms may differ from
the terms above.
</p>
<p><a href="https://jquery.com" target="_blank">jQuery</a></p>
                </span>
                <span id="underscore" class="control-content">
                    <p>
Copyright (c) 2009-2014 Jeremy Ashkenas, DocumentCloud and Investigative<br/>
Reporters & Editors
</p>
<p>
Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:
</p>
<p>
The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.
</p>
<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
</p>
<p><a href="http://underscorejs.org" target="_blank">Underscore.js</a></p>
                </span>
                <span id="hydro" class="control-content">
<p>
Copyright 2014 wildbits org
</p>
<p>
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
</p>
<p>
http://www.apache.org/licenses/LICENSE-2.0
</p>
<p>
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either expss or implied.
See the License for the specific language governing permissions and
limitations under the License.
</p>
<p><a href="https://github.com/wildbits/hydro" target="_blank">Hydro</a></p>
                </span>
            </div>
            </li>
        </ul>
    </div>
</div>
