<header class="bar bar-nav" xmlns="http://www.w3.org/1999/html">
    <a class="btn pull-right save-diver btn-positive">
        Next
    </a>
    <ul class="steps-menu">
        <li class="active">Diver</li>
        <li>Gears</li>
        <li>Water</li>
        <li>Results</li>
    </ul>
</header>
<div class="bar bar-standard bar-footer">
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="content">
    <% if (!json.gender) { %>
        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell-no-padding help-card">
                    <img src="img/diver.png"/>
                    <h3>Diver profile</h3>
                </li>
                <li class="table-view-cell-no-padding help-card">
                    <p>Provide accurate characteristics of the diver body via the inputs below.</p>
                    <p>Those attributes are used to evaluate the diver's body volume.</p>
                </li>
            </ul>
        </div>
    <% } %>
    <div class="card">
        <form class="diver-form">
            <ul class="table-view">
                <% if (json.required.gender) { %>
                    <li class="table-view-divider diver-gender">Gender</li>
                <% } %>
                <% if (json.required.age) { %>
                    <li class="table-view-divider diver-age">Age</li>
                <% } %>
                <% if (json.required.height) { %>
                    <li class="table-view-divider diver-height">Height</li>
                <% } %>
                <% if (json.required.weight) { %>
                    <li class="table-view-divider diver-weight">Weight</li>
                <% } %>
            </ul>
        </form>
    </div>
</div>
