<% var value = (typeof json.value === 'object') ? json.value.value : json.value %>
<% var unit =  (typeof json.value === 'object') ? json.value.unit  : undefined %>
<% if (value && unit) { %>
    <% var uv = new app.units.Unit(json.value.value, json.value.unit); %>
    <% var measure = uv.measure(); %>
    <% var precision = (json.precision) ? json.precision : 0; %>
    <%= uv.as(config.units[measure]).format(json.precision) %>
<% } else if (value) { %>
    <%= app.i18n('features:'+value, value) %>
<% } else { %>
    <%= app.i18n('features:'+json.feature, json.feature) %>
<% } %>
