<div class="bar bar-standard bar-footer">
    <button class="btn btn-positive btn-block accept-license">Ok</button>
</div>
<div class="content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-divider environment">
                Disclaimer
            </li>
            <li class="table-view-cell-no-padding">
                <p class="justify">
                    This app provides estimation of the minimum amount of weight to carry in a dive.
                    Although this app aims at being accurate, it can't be perfect. This app can't take into account all the characteristics of a diving environment, diver body and gears. Moreover, this app is likely not free from bugs.
                    Therefor, the indications provided by this app must never take precedence over common sense, pre-dive check procedure or established weight guidelines. Finally, this app does not free divers from doing buoyancy checks.
                </p>
                <p class="justify">By using any version of this app, you confirm to have read and that you agree with the terms of the Apache Software License 2.0.</p>
            </li>
            <li class="table-view-divider environment">
                Warranty
            </li>
            <li class="table-view-cell-no-padding">
<p class="justify">
Disclaimer of Warranty.<br/>
Unless required by applicable law or agreed to in writing,
Licensor provides the Work (and each Contributor provides
its Contributions) on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied,
including, without limitation, any warranties or conditions
of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR
A PARTICULAR PURPOSE.<br/>
You are solely responsible for
determining the appropriateness of using or redistributing
the Work and assume any risks associated with Your exercise
of permissions under this License.
</p>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell-no-padding">
                <p>&copy; 2014-2017 wildbits.github.io</p>
            </li>
        </ul>
    </div>

</div>
