<header class="bar bar-nav">
    <h1 class="title">Calculation methods</h1>
</header>
<div class="bar bar-standard bar-footer">
    <a href="#help" class="pull-left"><span class="icon icon-info"></span></a>
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell media">
                <a class="navigate-right" href="#modes/absolute/abs">
                    <img class="media-object pull-left" src="img/absolute.png"/>
                    <div class="media-body">
                        <h3>Absolute</h3>
                        <p>Use this method if you don't yet have a reference dive with perfect weighting.</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="#modes/relative/rel1/rel2">
                    <img class="media-object pull-left" src="img/relative.png"/>
                    <div class="media-body">
                        <h3>Relative</h3>
                        <p>Use this method if you have a reference dive with perfect weighting but wants to adapt to a new environment.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="help" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#help"></a>
        <h1 class="title">Details</h1>
    </header>
    <div class="modal-content">
        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell-no-padding media">
                        <img class="media-object pull-left" src="img/absolute.png"/>
                        <div class="media-body">
                            <h3>Absolute</h3>
                            <p>With this method, <strong>Lead</strong> evaluates the amount of weight to carry based on characteristics of the <span class="badge">diver body</span>, the <span class="badge">environment</span> and the <span class="badge">set of gears</span> used.</p>
                        </div>
                </li>
                <li class="table-view-cell-no-padding media">
                    <span>
                        <img class="media-object pull-left" src="img/relative.png"/>
                        <div class="media-body">
                            <h3>Relative</h3>
                            <p>With this method, <strong>Lead</strong> evaluates the amount of weight to be added or removed relatively to a reference dive done by the same diver.</p>
                            <p>It compares the <span class="badge">diver weight</span>, <span class="badge">set of gears</span> and the <span class="badge">environment</span> characteristics of the reference dive and the dive being planned (typical situation when travelling).</p>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
