<header class="bar bar-nav" xmlns="http://www.w3.org/1999/html">
    <a href="#plans/abs/gears/store" class="btn pull-left btn-positive">
        Back
    </a>
    <ul class="steps-menu">
        <li>Diver</li>
        <li class="active">Gears</li>
        <li>Water</li>
        <li>Results</li>
    </ul>
</header>
<div class="bar bar-standard bar-footer-secondary">
</div>
<div class="bar bar-standard bar-footer">
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="content">
    <div class="card">
        <ul class="table-view gears-list">
        </ul>
    </div>
</div>
