<header class="bar bar-nav" xmlns="http://www.w3.org/1999/html">
    <a href="#plans/abs/gears/store" class="btn pull-left btn-positive">
        Back
    </a>
    <ul class="steps-menu">
        <li>Diver</li>
        <li class="active">Gears</li>
        <li>Water</li>
        <li>Results</li>
    </ul>
</header>
<div class="bar bar-standard bar-footer">
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="content">

    <% var categoryId = collection[0].get('category'); %>
    <% if(categoryId === 'CYLINDER') { %>

    <div class="card">
        <ul class="table-view gear-info">
            <li class="table-view-cell-no-padding help-card">
                <div>
                    <img src="img/gears/cylinders.png" class="media-object pull-left gear-img"/>
                    Cylinder type
                    <p class="gear-features">
                        <span class="badge badge-primary">water volume</span>
                        <span class="badge badge-primary">material</span>
                        <span class="badge badge-primary">mass empty</span>
                        <span class="badge badge-primary">ext. volume</span>
                    </p><p></span>Cylinders mass and external volume include a valve of
                           <%=new app.units.Unit({value: 0.7, unit: 'kg'}).format(1)%> and
                           <%=new app.units.Unit({value: 0.000087, unit: 'm^3'}).as('l').format(2)%></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="table-view ">
            <li class="table-view-cell">
                <a class="navigate-right">
                    New cylinder
                </a>
                <a class="btn btn-positive new-gear">Create</a>
            </li>
        </ul>
    </div>
    <% } else if (categoryId === 'BCD') { %>
    <div class="card">
        <ul class="table-view gear-info">
            <li class="table-view-cell-no-padding help-card">
                <div>
                    <img src="img/gears/bcds.png" class="media-object pull-left gear-img"/>
                    BCD type
                    <p class="gear-features">
                        <span class="badge badge-primary">mass empty</span>
                        <span class="badge badge-primary">volume empty</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="table-view ">
            <li class="table-view-cell">
                <a class="navigate-right">
                    New BCD
                </a>
                <a class="btn btn-positive new-gear">Create</a>
            </li>
        </ul>
    </div>
    <% } else if (categoryId === 'REGULATOR') { %>
    <div class="card">
        <ul class="table-view gear-info">
            <li class="table-view-cell-no-padding help-card">
                <div>
                    <img src="img/gears/regulators.png" class="media-object pull-left gear-img"/>
                    Regulator type
                    <p class="gear-features">
                        <span class="badge badge-primary">mass</span>
                        <span class="badge badge-primary">volume</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="table-view ">
            <li class="table-view-cell">
                <a class="navigate-right">
                    New Regulator
                </a>
                <a class="btn btn-positive new-gear">Create</a>
            </li>
        </ul>
    </div>
    <% } else if (categoryId === 'SUIT') { %>
    <div class="card">

        <ul class="table-view gear-info">
            <li class="table-view-cell-no-padding help-card">
                <div>
                    <img src="img/gears/suits.png" class="media-object pull-left gear-img"/>
                    Suit type
                    <p>The suit volume and mass will be computed using the characteristics of the diver body</p>
                </div>
            </li>
        </ul>
    </div>
    <% } else if (categoryId === 'MISC') { %>
    <div class="card">

        <ul class="table-view gear-info">
            <li class="table-view-cell-no-padding help-card">
                <div>
                    <img src="img/gears/miscs.png" class="media-object pull-left gear-img"/>
                    Misc
                    <p class="gear-features">
                        <span class="badge badge-primary">mass</span>
                        <span class="badge badge-primary">volume</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="table-view ">
            <li class="table-view-cell">
                <a class="navigate-right">
                    New Misc
                </a>
                <a class="btn btn-positive new-gear">Create</a>
            </li>
        </ul>
    </div>
    <% } %>





    <div class="card">
        <ul class="table-view gears-list">
        </ul>
    </div>
</div>
