<header class="bar bar-nav" xmlns="http://www.w3.org/1999/html">
    <a class="icon icon-left-nav pull-left"></a>
    <h1 class="title">Categories of gears</h1>
</header>
<div class="bar bar-standard bar-footer-secondary">
</div>
<div class="bar bar-standard bar-footer">
    <a href="#config" class="icon icon-gear pull-right"></a>
</div>
<div class="content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                <a class="navigate-right" href="#plans/<%= id %>/gears/store/CYLINDER">
                    <img class="media-object pull-left" src="img/gears/cylinders.png">
                    <span class="badge"><%=categories.CYLINDER.length%></span>
                    <h3>Cylinders</h3>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="#plans/<%= id %>/gears/store/BCD">
                    <img class="media-object pull-left" src="img/gears/bcds.png">
                    <span class="badge"><%=categories.BCD.length%></span>
                    <h3>BCDs</h3>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="#plans/<%= id %>/gears/store/REGULATOR">
                    <img class="media-object pull-left" src="img/gears/regulators.png">
                    <span class="badge"><%=categories.REGULATOR.length%></span>
                    <h3>Regulators</h3>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="#plans/<%= id %>/gears/store/SUIT">
                    <img class="media-object pull-left" src="img/gears/suits.png">
                    <span class="badge"><%=categories.SUIT.length%></span>
                    <h3>Suits</h3>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="#plans/<%= id %>/gears/store/MISC">
                    <img class="media-object pull-left" src="img/gears/miscs.png">
                    <span class="badge"><%=categories.MISC.length%></span>
                    <h3>Misc</h3>
                </a>
            </li>
        </ul>
    </div>
</div>
